################################################################################
# Shebang

snippet #!
	#!/usr/bin/env sh

################################################################################
# Comments

snippet todo "TODO comment"
	# TODO: $0

snippet fixme "FIXME comment"
	# FIXME: $0

################################################################################
