snippet lang "LANGUAGE pragma"
{-# LANGUAGE $1 #-}
endsnippet

snippet info "Module documentation"
-- |
-- Module      : ${1:ModuleName}
-- Copyright   : (c) ${2:Author} ${3:Year}
-- License     : ${4:BSD3}
-- Maintainer  : ${5:email@something.com}
-- Stability   : ${6:experimental}
-- Portability : ${7:unknown}
--
-- ${0:Description}
--
endsnippet

snippet module "Module template with bar separators"
--------------------------------------------------------------------------------

module $1 where

$2

--------------------------------------------------------------------------------

$0

--------------------------------------------------------------------------------
endsnippet
